{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
{% assign odays = author.days | split: ' ' %}
{% assign ohours = author.hours | split: '-' %}
{% assign cnames = author.names | split: ' ' %}
{% assign cemails = author.emails | split: ' ' %}
  <div class="author__content">
<!-- <span class="sidegroup">
 <h6>Opening Hours</h6>
  {% assign count = 0 %}
  {% for day in odays %}
  {{day}}:<div class="hours">
  {{ohours[count]}}</div>
  {% assign count = count | plus:1 %}<br>
  {% endfor %}
</span>-->
<span class="sidegroup">
<h6>Booking Staff</h6>
{% assign count = 0 %}
{% for name in cnames %}
<a href="mailto:{{cemails[count]}}?subject=Booking Office Enquiry">{{name}}</a>
{% assign count = count | plus:1 %}<br>
{% endfor %}
</span>
<span>
  <img src ="/assets/images/keyring.jpg" width="30px">
</span>
<span class="sidegroup">
<h6>Location</h6>
Manufakturet
Room 0.17 <br>
Frederikskaj 12, 2450 <br>
Ground floor <br>
Aalborg University Copenhagen <br>
</span>
</div>
