{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
{% assign odays = author.days | split: ' ' %}
{% assign ohours = author.hours | split: '-' %}
{% assign cnames = author.names | split: ' ' %}
{% assign cemails = author.emails | split: ' ' %}

<div itemscope itemtype="https://schema.org/Person" class="h-card">
<span class="sidegroup">
  <h6>Opening Hours</h6>
  {% assign count = 0 %}
  {% for day in odays %}
  {{day}}:<div class="hours">
  {{ohours[count]}}</div>
  {% assign count = count | plus:1 %}<br>
  {% endfor %}
</span>

<span class="sidegroup">
<h6>Contact</h6>
{% assign count = 0 %}
{% for name in cnames %}
<a href="mailto:{{cemails[count]}}?subject=booking20%enquiry">{{name}}</a>

{% assign count = count | plus:1 %}
{% endfor % }
</span>

<span class="sidegroup">
<h6>Location</h6>
</span>

<p>Contact info:<br>{{author.email1}} <br></p>

<p>Location: {{author.location}}</p>







</div>
