---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.alert h5{
  font-size: 0.5em;
  font-weight: 800;
  color: red;
  }
  div.alert p{
    font-size: 0.4em;
    font-weight: 400;
    font-style: italic;
}

div.postAlert{
  border-style: double;
  border-radius: 5px;
  padding: 8px;
background-color: #66FF99;
}
div.postAlert span{
  font-size: 0.7em;
  font-weight: 800;
  color: red;
  }
  div.postAlert p{
    font-size: 0.55em;
    font-weight: 300;
    font-style: italic;
}
div.adminsection h5.empty{
  color: red;
margin: 0.5em 0 0.5em;}

divadminsection h5.instock{
margin: 0.5em 0 0.5em;}

span.aaunumbers{
display: inline-block;
margin-right: 4px;
margin-bottom: 5px;
padding: 3px 6px;
text-decoration: none;
border: 1px solid #afa58f;
border-radius: 4px;
color: #666633;
font-size: 0.7em}

div.adminsection{
  font-size: 0.7em;
  border-style: double;
  border-radius: 5px;
  padding: 8px;
  background-color: #e9dcbe;
  }
  div.adminsection p{
  margin-bottom: 0.5em;
    }
div.hours{
  float: right;
}
span.sidegroup {
  font-size: 0.8em;
  padding-right: 10px;
}
