---
layout: archive
---
{{ content }}
{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <li>
          <a href="#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle"> {{ tag[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
{% for post in tag.last %}

          {% if post.category == 'ld' %}
            <h5 style="color:red">Lighting Design</h5>
              Conditional Statement for Lighing Design
              {% endif %}
              {% if post.category == 'smile' %}
              <h5 style="color:red">Samsung Media Innovation Lab Only</h5>
              BEFORE BORROWING SAMSUNG ITEMS FROM THE SMILE LAB, YOU MUST FIRST FILL OUT <a href="http://tinyurl.com/SamsungBooking" target = blank> THIS FORM </a>
              ... and the loan has to be approved by <a href = "mailto:hsf@create.aau.dk?subject=Loan from Booking Office">Henrik Schønau Fog</a>
          {% endif %}

{% include archive-single.html type=entries_layout %}

{% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
